.catalog {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: min-content min-content min-content min-content min-content;
}

.catalog__search-block {
  display: flex;
  padding: 0 10px 0 0;
  column-gap: 11px;
  grid-column: 1 / -1;
}

.catalog__search {
  display: flex;
  position: relative;
  flex-grow: 1;
}

.catalog__search-line {
  border: 1px solid $color3;
  border-right: none;
  border-radius: 5px 0px 0px 5px;
  width: 100%;
  padding: 10px 16px 10px 43px;
}

.catalog__search-icon {
  position: absolute;
  top: 11px;
  left: 16px;
}

.catalog__request-block {
  position: absolute;
  top: 8px;
  left: 56px;
}

.catalog__request {
  @include text;
  letter-spacing: 0.001em;
}

.catalog__request-close-button {
  background: none;
  border: none;
}

.catalog__button {
  @include button;
  min-height: 40px;
  min-width: 117px;

  &--search {
    @include button-colored;
    min-width: 145px;

  }
}

.catalog__results-block {
  grid-column: 1 / -1;
}

.catalog__results {
  display: flex;
  align-items: center;
  padding: 32px 10px 27px 11px;
  column-gap: 36px;
}

.catalog__title {
  @include title;
  margin: 0;
}

.catalog__sub-title {
  @include paragraph;
  margin: 0;
  color: $color7;
}

.catalog__categories {
  display: flex;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0 10px;
  column-gap: 38px;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    background: linear-gradient(to right, transparent 85%, white 93% 100%);
    width: 100%;
    height: 100%;
  }
}

.catalog__categories-item {
  display: grid;
  position: relative;
  grid-template-columns: min-content max-content;
  align-items: center;

  &::after {
    content: "";
    position: absolute;
    right: -19px;
    height: 60px;
    border-right: 1px solid $color8;
  }
}

.catalog__categories-image {
  grid-row: 1 / 3;
  margin-right: 10px
}

.catalog__categories-name {
  @include paragraph;
  letter-spacing: 0.05em;
}

.catalog__categories-count {
  @include paragraph-mini;
  color: $color7;
  margin: 0;
}

.catalog__all-categories {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  padding: 25px 10px 49px 10px;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.catalog__filters {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}

.catalog__settings {
  grid-column: 2 / 5;
  grid-row: 3 / 4;
}

.catalog__products {
  grid-column: 2 / 5;
  grid-row: 4 / 6;
}

.catalog__all-categories-title {
  font-family: Arial;
  font-size: 14px;
  line-height: 16px;
}

.catalog__all-categories-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0 0 13px 0;
  padding: 0;
  row-gap: 14px;
}

.catalog__categories-link {
  text-decoration: none;
  color: $color9;
}

.catalog__all-categories-button {
  background: none;
  border: none;
  color: $color9;
  padding: 0;
}

.catalog__price {
  border: none;
  padding: 16px 2px 10px 8px;
}

.catalog__price-legend {
  @include text;
  line-height: 16px;
}














:root {
  --red: #CA2C37;
  --red-light: #EE3643;
  --red-shadow: #BA2732;
  --green: #63A63E;
  --green-light: #5FBB2D;
  --green-extra-light: #8ED78F;
  --green-shadow: #518534;
  --green-extra-shadow: #367315;
  --mint: #00CA74;
  --indigo: #32425C;
  --indigo-light: #3D546F;
  --indigo-shadow: #293449;
  --indigo-super-shadow: #161D29;
  --indigo-extra-shadow: #212A3A;
  --black: #000000;
  --grey: #A9A9A9;
  --grey-light: #C5C5C5;
  --grey-super-light: #F3F7F9;
  --grey-ultra-light: #F2F6F8;
  --grey-extra-light: #F1F5F7;
  --grey-soft: #EAEAEA;
  --grey-soft-light: #F7F3EC;
  --grey-soft-shadow: #B5B5B5;
  --grey-shadow: #ababab;
  --grey-scale: #D7DCDE;
  --grey-modal: #F4F4F4;
  --white: #FFFFFF;
  --yellow: #FFBF47;
  --yellow-light: #FFC047;
  --yellow-super-light: #FFD180;
  --cyan: #3BBCE3;
  --pink: #DC91D8;
  --cream: #F9F5F0;
}

.catalog__range-controls {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 41px;
  margin-top: 11px;
  margin-bottom: 9px;
  padding: 8px 0 0 0;
  border-radius: 5px;
}

.catalog__scale {
  width: 100%;
  height: 2px;
  background-color: var(--grey-scale);
}

.catalog__bar {
  height: 4px;
  background-color: $color1;
  border-radius: 30px;
}

.catalog__toggle {
  position: absolute;
  top: 3px;
  left: 0;
  width: 14px;
  height: 14px;
  box-sizing: border-box;
  padding: 0;
  border: 2px solid $color1;
  background-color: $color2;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--grey);
  outline: none;
  cursor: pointer;
}

.catalog__price-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Arial;
  font-size: 12px;
  line-height: 14px;
  color: $color7;
}

.catalog__min-price, .catalog__max-price {
  width: 110px;
  box-sizing: border-box;
  padding: 11px 12px 9px 13px;
  text-align: left;
  color: #283136;
  border: 1px solid $color5;
  border-radius: 5px;
  background: #f1f1f1;
  font-size: inherit;

  background: none;
  border-radius: 3px;
  outline: none;
}

.catalog__min-price:focus, .catalog__max-price:focus {
  background-color: var(--grey-ultra-light);
}
